<main>
  <section class="form-section">
    <img src="/assets/Component 1.svg" alt="Logo" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <button class="btn-primary">{{ primaryBtnText }}</button>
    <div class="dividir">
      <div></div>
      <span>OR</span>
      <div></div>
    </div>
    <button class="btn-secondary">{{ secondaryBtnText }}</button>
  </section>
  <section class="main-section">
    <h1>You should, MoveIt!</h1>
    <img src="/assets/Delivery.svg" alt="Logo" />
  </section>
</main>
